@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

.wrapper {
  margin: 0 30px;
}

header {
  //   position: relative;
  min-height: 79px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    background: url(../img/mishka-logo-mobile.png) center no-repeat;
    width: 86px;
    height: 35px;
  }

  .menu-checkbox {
    display: none;
  }

  .hamb {
    background: url(../img/menu.png);
    width: 20px;
    height: 14px;
    position: absolute;
    right: 31px;
    // display: none;
  }

  .menu-checkbox:checked ~ .hamb {
    background: url(../img/menu-close.png);
    width: 21px;
    height: 20px;
    position: absolute;
    right: 30px;
  }

  .main-menu {
    position: absolute;
    top: 79px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    a {
      display: flex;
      align-items: center;
      height: 79px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #ffff;
      width: 100vw;
    }

    .item1 {
      padding-left: 76px;
    }
    .item2 {
      padding-left: 76px;
    }
    .item3 {
      .search-text {
      }

      .search-icon {
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        margin: 0 29px;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
    }

    .item4 {
      .cart-icon {
        background-image: url(../img/cart.png);
        background-repeat: no-repeat;
        margin: 0 28px;
        width: 21px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
    }
  }

  .menu-checkbox:checked ~ .main-menu {
    // display: flex;
    max-height: 100%;
  }
}
.main {
  .main-view {
    background: url(../img/hero-desktop1.png) center no-repeat;
    background-color: #f9f9f9;
    height: 100vh;
    .top-menu {
      display: none;
    }
    h2 {
      font-size: 27px;
      line-height: 30px;
    }
  }
}

// body {
//   font-family: "Open Sans", sans-serif;
//   font-size: 17px;
// }

// a {
//   text-decoration: none;
//   font-weight: 700;
//   color: #000;
// }

// h2 {
//   font-size: 53px;
//   font-weight: 700;
// }

// .wrapper {
//   margin: 0 50px;
// }

// header {
//   position: relative;
//   min-height: 88px;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   .logo {
//     background: url(../img/mishka-logo-desktop.png) center no-repeat;
//     width: 50%;
//     height: 50%;
//     max-width: 149px;
//     min-height: 72px;
//     margin: auto;
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//   }

//   .menu-checkbox {
//     display: none;
//   }

//   .hamb {
//     background: url(../img/menu.png);
//     width: 20px;
//     height: 14px;
//     position: absolute;
//     right: 31px;
//     display: none;
//   }

//   .menu-checkbox:checked ~ .hamb {
//     background: url(../img/menu-close.png);
//     width: 21px;
//     height: 20px;
//     position: absolute;
//     right: 30px;
//   }

//   .main-menu {
//     flex-grow: 99;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin: 0 50px;

//     a {
//       border-left: 1px solid rgba(0, 0, 0, 0.1);
//       padding: 32px 0;
//     }
//     a:first-child {
//       border: none;
//     }

//     .item1 {
//       padding-right: 36px;
//     }
//     .item2 {
//       padding-left: 35px;
//     }
//     .item3 {
//       margin-left: auto;
//       .search-text {
//         display: none;
//       }

//       .search-icon {
//         background-image: url(../img/search.png);
//         background-repeat: no-repeat;
//         margin: 0 32px;
//         width: 18px;
//         height: 18px;
//         display: inline-block;
//         vertical-align: middle;
//         text-align: center;
//       }
//     }

//     .item4 {
//       .cart-icon {
//         background-image: url(../img/cart.png);
//         background-repeat: no-repeat;
//         margin: 0 31px;
//         width: 21px;
//         height: 18px;
//         display: inline-block;
//         vertical-align: middle;
//         text-align: center;
//       }
//     }
//   }
// }

// .main {
//   .main-view {
//     height: 746px;
//     background: url(../img/hero-desktop1.png) center no-repeat;
//     background-color: #f9f9f9;

//     .top-menu {
//       display: flex;
//       font-size: 15px;
//       padding-top: 20px;

//       > div {
//         margin-left: auto;
//       }

//       > a {
//         margin-right: 61px;
//       }
//     }

//     h2 {
//       max-width: 700px;
//       text-align: center;
//       margin: 0 auto;
//       margin-top: 120px;
//       line-height: 57px;
//     }
//   }
// }

// @media (max-width: 992px) {
//   header {
//     .logo {
//       background: url(../img/mishka-logo-tablet.png) center no-repeat;
//       position: absolute;
//       margin: 0;
//       left: 50px;
//       width: 113px;
//       right: auto;
//       top: auto;
//       bottom: auto;
//     }
//     .main-menu {
//       .item1 {
//         font-size: 15px;
//         position: absolute;
//         top: 76px;
//         border-right: none;
//       }

//       .item2 {
//         border: none;
//         font-size: 15px;
//         position: absolute;
//         top: 76px;
//         left: 232px;
//       }
//     }
//   }

//   .main-view {
//     .top-menu {
//       > a {
//         display: none;
//       }
//     }
//     h2 {
//       font-size: 50px;
//       line-height: 50px;
//     }
//   }
// }

// @media (max-width: 660px) {
//   .wrapper {
//     margin: 0 30px;
//   }

//   header {
//     .logo {
//       position: static;
//     }
//     .main-menu {
//       display: none;
//       position: absolute;

//       flex-direction: column;
//       a {
//         position: static;
//       }
//     }
//   }

//   .main {
//     .main-view {
//       .top-menu {
//         display: none;
//       }
//       h2 {
//         font-size: 27px;
//         line-height: 30px;
//       }
//     }
//   }
// }
